body {
	/*background-color: #dfe3e5;*/
	/*DARK ORANGE*/
	/*background-color: #382707;*/
	/*SOFT BROWN*/
	background-color: #5e5951;
}

/*Catch-all for object widths*/
img, embed, object, video {
	/*width: 100%;*/
	/*max-width: 100%;*/
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 10px;
	border-top: 2px solid #eeeeee;
}

h3 {
	font-size: 20px;
}

.section {
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

#header {
	background-image: url("../images/Wood_grey_background.jpg");
	padding-bottom: 0px;
  /*background-color: red;*/
}

.trans-box {
	/*margin: 30px;*/
 	background-color: #131110;
 	/*border: 1px solid black;*/
 	opacity: 0.7;
}



#skills-h3 {
	margin: 10px 0px 0px 255px;
	font-size: 25px;
	/*color: white;*/
}


.orange {
  background-color: #fab23a;
}

.orange-text {
  color: #fab23a;
}

.white-text {
  /*font-weight: bold;*/
  color: #fff;
}

.light-gray {
  /*background-color: #c4c9cb;*/
  /*LIGHT BROWN*/
  background-color: #cac1b2;
  /*padding-bottom: 10px;*/
  clear:both;
}

.medium-gray {
  background-color: #b3b9bb;
  /*LIGHT BROWN*/
  /*background-color: #cac1b2;*/
  /*padding-bottom: 10px;*/
  clear:both;
}

.dark-gray {
  background-color: #33393d;
  /*DARKER*/
  /*background-color: #1c2227;*/
}

.skill-rate-on, .skill-rate-off {
    display: table-cell;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
}

.skill-bar {
    background: #C4C4C4;
    display: table;
    height: 4px;
    width: 100%;
    margin: 5px -2px 15px;
}

.skill-bar .skill-rate-on {
    /*background: #353535;*/
    /*background: black;*/
    background: #d69426;
}

.profile-widget {
	width: 225px;
}

#skills {
	margin-left: 5%;
	padding-left: 0px;
	margin-left: 255px;
	padding-top: 10px;
}

#skills > li > span {
	padding-left: 0px;
	width: 20%;
}

#projects > div > img {
	max-width: 100%;
}